<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/form"><img src="../static/assets/img/bg.jpg" style="width: 100%;"></a>
</body>
<script>
        function change(){
        $.ajax({
        url: "/uploadpoints",
        type: "GET",
        contentType: 'application/txt; charset=UTF-8',
        data:senddata,
        async: false,
        success: function (data) {
        console.log("success!")
        },
        error: function (data) {
        alert("上传失败！")
        }
        })
    }
</script>
</html>