<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Map</title>
    <script src="../static/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <script src="../static/assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <form class="am-form tpl-form-line-form" method="post" action="submit_cities">

            <div class="am-form-group">
                <label for="user-name" class="am-u-sm-3 am-form-label">Population number</label>
                <div class="am-u-sm-9">
                    <input type="number" class="tpl-form-input" id="population_number" name="population_number" step="10" placeholder="Population number of individuals" value="100">
                </div>
            </div>

            <div class="am-form-group">
                <label for="user-name" class="am-u-sm-3 am-form-label">evolved over several generations </label>
                <div class="am-u-sm-9">
                    <input type="number" class="tpl-form-input" id="generations" name="generations" step="100" placeholder="The population evolved over several generations" value="2000" >
                </div>
            </div>

            <div class="am-form-group">
                <label for="user-name" class="am-u-sm-3 am-form-label">aberration rate </label>
                <div class="am-u-sm-9">
                    <input type="number" class="tpl-form-input" id="aberration_rate" name="aberration_rate" min="0.1" max="0.9" step="0.1" placeholder="aberration rate" value="0.3" >
{#                                            <input type="number" name="points" min="0" max="100" step="10" value="30">#}
                </div>
            </div>


            <div id="cities">
            <div class="am-form-group">
                <label for="user-phone" class="am-u-sm-3 am-form-label">site1 <span class="tpl-form-line-small-title">site1</span></label>
                <div class="am-u-sm-9">
                    <select data-am-selected="{searchBox: 1}" id="start" name="start" style="display: none;">
<option value="0">Universal Studios</option>
<option value="1">Merlion Park</option>
<option value="2">Gardens by the Bay</option>
<option value="3">Singapore Zoo</option>
<option value="4">Singapore Botanic Gardens</option>
<option value="5">Singapore Flyer</option>
<option value="6">Sentosa Island</option>
<option value="7">Night Safari</option>
<option value="8">National Gallery Singapore</option>
<option value="9">National Museum of Singapore</option>
</select>

                </div>
            </div>


            <div class="am-form-group">
                <label for="user-phone" class="am-u-sm-3 am-form-label">site2 <span class="tpl-form-line-small-title">site2</span></label>
                <div class="am-u-sm-9">
                    <select data-am-selected="{searchBox: 1}" id="final" name="final" style="display: none;">
<option value="0">Universal Studios</option>
<option value="1">Merlion Park</option>
<option value="2">Gardens by the Bay</option>
<option value="3">Singapore Zoo</option>
<option value="4">Singapore Botanic Gardens</option>
<option value="5">Singapore Flyer</option>
<option value="6">Sentosa Island</option>
<option value="7">Night Safari</option>
<option value="8">National Gallery Singapore</option>
<option value="9">National Museum of Singapore</option>
</select>

                </div>
            </div>

            <div class="am-form-group">
                <label for="user-phone" class="am-u-sm-3 am-form-label">site3 <span class="tpl-form-line-small-title">site3 </span></label>
                <div class="am-u-sm-9">
                    <select data-am-selected="{searchBox: 1}" id="city_1" name="city_1" style="display: none;">
<option value="0">Universal Studios</option>
<option value="1">Merlion Park</option>
<option value="2">Gardens by the Bay</option>
<option value="3">Singapore Zoo</option>
<option value="4">Singapore Botanic Gardens</option>
<option value="5">Singapore Flyer</option>
<option value="6">Sentosa Island</option>
<option value="7">Night Safari</option>
<option value="8">National Gallery Singapore</option>
<option value="9">National Museum of Singapore</option>
</select>

                </div>
            </div>

            </div>

            <div class="am-form-group">
                <div class="am-u-sm-9 am-u-sm-push-3">
                    <button type="button" class="am-btn am-btn-success tpl-btn-bg-color-success " onclick=addForm()>add site</button>
                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">compute</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var index = 3;
        function addForm(){
            index++;
            var str = "<div class=\"am-form-group\">\n" +
                "<label for=\"user-phone\" class=\"am-u-sm-3 am-form-label\">site"+index+" <span class=\"tpl-form-line-small-title\">site"+index+"</span></label>\n" +
                "<div class=\"am-u-sm-9\">\n" +
                "<select data-am-selected=\"{searchBox: 1}\" id=\'city_"+index+"' name='city_"+index+"' >\n" +
                "<option value=\"0\">Universal Studios</option>\n" +
                "  <option value=\"1\">Merlion Park</option>\n" +
                "  <option value=\"2\">Gardens by the Bay</option>\n" +
                "  <option value=\"3\">Singapore Zoo</option>\n" +
                "  <option value=\"4\">Singapore Botanic Gardens</option>\n" +
                "  <option value=\"5\">Singapore Flyer</option>\n" +
                "  <option value=\"6\">Sentosa Island</option>\n" +
                "  <option value=\"7\">Night Safari</option>\n" +
                "  <option value=\"8\">National Gallery Singapore</option>\n" +
                "  <option value=\"9\">National Museum of Singapore</option>"
                "</select>\n" +
                "</div>\n" +
                "</div>\n" +
                "<hr>";
            $('#cities').append(str);
        {#var path_num = document.getElementById("path_num");
        path_num.value = index;#}
        }

    </script>
</body>

</html>