<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../static/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <script src="../static/assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">填写地图信息</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>

                <div class="widget-body am-fr">

                    <form class="am-form tpl-form-border-form tpl-form-border-br" method="post" action="submit_path">
                        <input type="hidden" name="path_num" id="path_num" value="1" />

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">起点 <span class="tpl-form-line-small-title">Title</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" id="start" name="start" placeholder="起点">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">城市数量 <span class="tpl-form-line-small-title">number</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" id="city_num" name="city_num" placeholder="城市数量">
                            </div>
                        </div>
                        <hr>
                        <div id="paths">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">地点A <span class="tpl-form-line-small-title">from</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" id="from[0]" name="from[0]" placeholder="地点A">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-3 am-form-label">地点B <span class="tpl-form-line-small-title">to</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="am-form-field tpl-form-no-bg" id="to[0]" name="to[0]" placeholder="地点B">
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">路径消耗 <span class="tpl-form-line-small-title">consumption</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" id="consumption[0]" placeholder="路径消耗">
                            </div>
                        </div>
                        <hr>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-success tpl-btn-bg-color-success " onclick=addForm()>添加路径信息</button>
                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    var index = 1;
    function addForm(){

        var str = "<div class=\"am-form-group\">\n" +
            "<label for=\"user-name\" class=\"am-u-sm-3 am-form-label\">地点A <span class=\"tpl-form-line-small-title\">from</span></label>\n" +
            "<div class=\"am-u-sm-9\">\n" +
            "<input type=\"text\" class=\"tpl-form-input\" id=\'from["+index+"]' name=\'from["+index+"]' placeholder=\"地点A\">\n" +
            "</div>\n" +
            "</div>\n" +
            "<div class=\"am-form-group\">\n" +
            "<label for=\"user-email\" class=\"am-u-sm-3 am-form-label\">地点B <span class=\"tpl-form-line-small-title\">to</span></label>\n" +
            "<div class=\"am-u-sm-9\">\n" +
            "<input type=\"text\" class=\"am-form-field tpl-form-no-bg\" id='to["+index+"]' name='to["+index+"]' placeholder=\"地点B\" +
            "</div>\n" +
            "</div>\n" +
            "<div class=\"am-form-group\">\n" +
            "<label class=\"am-u-sm-3 am-form-label\">路径消耗 <span class=\"tpl-form-line-small-title\">consumption</span></label>\n" +
            "<div class=\"am-u-sm-9\">\n" +
            "<input type=\"text\" id='consumption["+index+"]' name='consumption["+index+"]' placeholder=\"路径消耗\">\n" +
            "</div>\n" +
            "</div>\n" +
            "<hr>"
        $('#paths').append(str);
        index++;
        var path_num = document.getElementById("path_num");
        path_num.value = index;
    }
</script>
</body>

</html>